/* body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
} */

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.square {
  background: #48a9a6;
  border: none;
  border-radius: 15%;
  float: left;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  margin: 5px 5px 5px 5px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
  transition: 0.25s;
}

.square.null:hover {
  background-color: #264653;
  cursor: pointer;
  color: rgba(221, 221, 221, 0.507);
}

.square.null.circle-hover:hover::after {
  content: 'O';
}

.square.null.cross-hover:hover::after {
  content: 'X';
}

.square.cross {
  background-color: #d4b483;
}

.square.circle {
  background-color: #c1666b;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-status {
  background-color: #264653;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.game-board {
  margin: 25px 0px;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart {
  width: 100%;
}
